* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

main{
  min-height: 100%;
}

header {
  border-bottom-style: solid;
  border-bottom-width: 8px;
  border-color: hsl(0deg, 0%, 30%);
  background-color: #fff;
}

main{
  background-color: hsl(0deg, 0%, 60%);
  padding-top: 64px;
}

strong{
  color: hsl(160deg, 100%, 30%);
}

.card{
  background-color: #fff;
  border-bottom-style: solid;
  border-bottom-width: 8px;
  border-color: hsl(0deg, 0%, 30%);
  padding: 16px;
  margin-left: -16px;
  font-size: 1.25rem;
}

.indented-heading{
  background-color:hsl(45deg, 100%, 50%);
  border-bottom-style: solid;
  border-color: hsl(45deg, 100%, 40%);
  border-bottom-width: 8px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 24px 40px;
  margin-left: -40px;
  margin-top: -8px;
  box-decoration-break: clone;
  font-size: 1.5rem;
}

.intro-chunk{
  max-width: 60%;
  font-size: 1.5rem;
  padding-bottom: 32px;
  line-height: 2rem;
}

.max-width-wrapper{
  max-width: 768px;
  margin: 0 auto;
  padding: 8px;
}

.title{
  font-size: 2rem;
  padding-bottom: 32px;
  padding-top: 96px;
}

/* Add styles here! */
